<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433을 방문하십시오.
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="uploadLocation" value="C:\inetpub\UpdateVault" />
    <add key="CRMService.CRMService" value="http://localhost:44755/CRMService.asmx" />
  </appSettings>
  <!--Data Source=(LocalDb)\SOLKO;Initial Catalog=aspnet-Update-540e45c3-8316-43e2-af4c-0b358361a48a;AttachDbFilename=|DataDirectory|\aspnet-Update-540e45c3-8316-43e2-af4c-0b358361a48a.mdf;Integrated Security=SSPI"-->
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Server=XPMWORKS\SOLKO;Database=CRMReport;User Id=sa;Password=dkzmfh##2" providerName="System.Data.SqlClient"/>-->
    <add name="DefaultConnection" connectionString="Server=localhost;Database=CRMReport;User Id=sa;Password=1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.2">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!--<add assembly="FarPoint.Web.Spread, Version=9.40.20153.0, Culture=neutral, PublicKeyToken=327C3516B1B18457"/>
        <add assembly="FarPoint.CalcEngine, Version=9.35.20153.0, Culture=neutral, PublicKeyToken=327C3516B1B18457"/>
        <add assembly="FarPoint.Web.Chart, Version=9.40.20153.0, Culture=neutral, PublicKeyToken=327C3516B1B18457"/>
        <add assembly="FarPoint.Excel, Version=9.35.20153.0, Culture=neutral, PublicKeyToken=327C3516B1B18457"/>
        <add assembly="FarPoint.Localization, Version=9.20.20153.0, Culture=neutral, PublicKeyToken=327C3516B1B18457"/>
        <add assembly="FarPoint.PDF, Version=9.35.20153.0, Culture=neutral, PublicKeyToken=327C3516B1B18457"/>-->
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Activities.Presentation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Workflow.Activities, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Workflow.ComponentModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Workflow.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.SharePoint.Client, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
        <add assembly="Microsoft.SharePoint.Client.Runtime, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" executionTimeout="1200" maxRequestLength="524288000" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
        이 템플릿에서 ASP.NET 멤버 자격을 사용할 수 없습니다. 이 템플릿의 ASP.NET 멤버 자격 지원에 대해 알아보려면 http://go.microsoft.com/fwlink/?LinkId=301889 링크를 방문하십시오.
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        이 템플릿에서 ASP.NET 멤버 자격 프로필을 사용할 수 없습니다. 이 템플릿의 ASP.NET 멤버 자격 지원에 대해 알아보려면 http://go.microsoft.com/fwlink/?LinkId=301889 링크를 방문하십시오.
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
          이 템플릿에서 ASP.NET 멤버 자격 역할을 사용할 수 없습니다. 이 템플릿의 ASP.NET 멤버 자격 지원에 대해 알아보려면 http://go.microsoft.com/fwlink/?LinkId=301889 링크를 방문하십시오.
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            웹 서버 인스턴스가 여러 개 있는 클라우드 환경에 배포하는 경우
            세션 상태 모드를 "InProc"에서 "Custom"으로 변경해야 합니다. 또한
            SQL Server Express가 아닌 SQL Server(SQL Azure 및 SQL Compact 포함)의
            인스턴스에 연결하려면 "DefaultConnection" 연결 문자열을 변경합니다.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.net>
    <mailSettings>
      <!--
      <smtp from="monitor@bitlogic.kr">
        <network host="bitlogic.kr" port="25" userName="monitor" password="dkzmfh##2" defaultCredentials="false" />
      </smtp>
      -->
      <!--
      <smtp from="tech@solidkorea.co.kr">
        <network host="mail.solidkorea.co.kr" port="25" userName="tech@solidkorea.co.kr" password="solkotech1" defaultCredentials="false" />
      </smtp>
      -->
      <smtp from="solko.xpmworks@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="solko.xpmworks@gmail.com" password="thfzh0319" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000" />
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <location path="Contact.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="admin,solko" />
      </authorization>
    </system.web>
  </location>
  <location path="Update.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="admin,solko" />
      </authorization>
    </system.web>
  </location>
  <location path="OS_AccountList.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="admin,sr,ae,mkt" />
      </authorization>
    </system.web>
  </location>
  <location path="OS_CampaignList.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="admin,sr,ae,mkt" />
      </authorization>
    </system.web>
  </location>
  <location path="OS_CampaignMailList.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="admin,sr,ae,mkt" />
      </authorization>
    </system.web>
  </location>
  <location path="OS_Calculate.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="admin,sr,ae,mkt" />
      </authorization>
    </system.web>
  </location>
  <location path="FileList.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="admin,solko" />
      </authorization>
    </system.web>
  </location>
  <location path="RequestList.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="admin,solko" />
      </authorization>
    </system.web>
  </location>
  <location path="LicenseList.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="admin,solko" />
      </authorization>
    </system.web>
  </location>
  <location path="Usage.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="admin,solko" />
      </authorization>
    </system.web>
  </location>
  <location path="UsageSum.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="admin,solko" />
      </authorization>
    </system.web>
  </location>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>